.contact {
  background-color: hsl(219, 48%, 8%);
  width: 100%;
  height: 100vh;
}

.contactRightBar {
  background-image: linear-gradient(to bottom, hsl(250, 100%, 75%), white);
  width: 30%;
  height: inherit;
  animation: contactFromtransition 1s linear forwards;
  position: absolute;
  right: 0;
}

@keyframes contactFromtransition {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.contactContainer {
  height: 80%;
  width: 70%;
  position: absolute;
  background-color: white;
  border-radius: 100px 0 0 100px;
  transform: translateX(20%) translateY(-50%);
  top: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
  display: flex;
  justify-content: center;
  animation: contactTransition 1s linear forwards;
}

@keyframes contactTransition {
  from {
    transform: translateX(-100%) translateY(-50%);
  }
  to {
    transform: translateX(20%) translateY(-50%);
  }
}

.contactContainerFrom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.contactContainerFrom > h4 {
  text-align: center;
  margin: 1vmax;
}

.contactContainerFrom > input,
.contactContainerFrom > textarea {
  border-radius: 3px;
  padding: 1vmax;
  outline: none;
  font-size: 1rem;
  font-family: "Roboto";
  border: 1px solid rgba(0, 0, 0, 0.205);
  transform: translateX(-100vw);
  animation: contactFromInputs 1s ease-in forwards 0.5s;
}

@keyframes contactFromInputs {
  from {
    translatex: (-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.contactContainerFrom > button {
  background-color: hsl(250, 100%, 75%);
  transform: translateY(-100vh);
  animation: contactFromBtn 1s ease-in-out forwards 1s;
}

@keyframes contactFromBtn {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.contactContainerFrom > button :hover {
  background-color: hsl(219, 48%, 8%);
}
